export( summarizeAtlasExperiment, parseAtlasConfig, createAtlasSiteConfig, createArrayExpressSiteConfig, check_file_exists, parseSDRF )
exportClasses( Analytics, AssayGroup, Contrast, BatchEffect, BiologicalReplicate )
export( platform, assay_groups, getAllAssays, assay_group_id, assay_names, assay_group_label, biological_replicates, biorep_assay_names, technical_replicate_id, atlas_contrasts, contrast_id, contrast_name, reference_assay_group_id, test_assay_group_id, batch_effects, batches, effect_name )
import( Biobase, methods )
importFrom( SummarizedExperiment, SummarizedExperiment )
importClassesFrom( SummarizedExperiment, RangedSummarizedExperiment )
importFrom( GenomicRanges, GRanges )
importFrom( IRanges, PartitioningByEnd )
importFrom( BiocGenerics, relist )
importFrom( plyr, ldply )
importFrom( XML, xmlInternalTreeParse, xmlRoot, xmlAttrs, xmlElementsByTagName, xmlValue )
importFrom( yaml, yaml.load_file )
importFrom( S4Vectors, SimpleList, DataFrame, Rle )
importClassesFrom( limma, MAList )
